<!DOCTYPE html>
<html>
    <head>
        <title>About | Twitter Sample App</title> 
    </head>
    <body>
        <h1>About</h1> 
        <p>
            This is Twitter about page.
        </p>
    </body> 
</html>