<!DOCTYPE html>
<html>
    <head>
        <title>Help | Twitter Sample App</title> 
    </head>
    <body>
        <h1>Help</h1> 
        <p>
            This is Twitter help page.
        </p>
    </body> 
</html>