<!DOCTYPE html>
<html>
    <head>
        <title>Home | Twitter Sample App</title> 
    </head>
    <body>
        <h1>Home</h1> 
        <p>
            This is Twitter home page.
        </p>
    </body> 
</html>