<%= link_to gravatar_for(get_current_user, size: 50), get_current_user %>
<h1><%= get_current_user.name %></h1>
<span><%= link_to "view my profile", get_current_user %></span>
<span><%= pluralize(get_current_user.microposts.count, "micropost") %></span>
