<div class="center jumbotron">
  <h1>500</h1>
  <h2>
    Sorry, we are experiencing an internal server error
  </h2>
  <div class="main-logo-wrapper">
    <%= image_tag("Faces/my_face_X.png", alt: "Confused face", width: "200") %>
  </div>
</div>

