<div class="center jumbotron">
  <h1>404</h1>
  <h2>
    Sorry, this page was not found
  </h2>
  <div class="main-logo-wrapper">
    <%= image_tag("Faces/my_face_confused.png", alt: "Confused face", width: "200") %>
  </div>
</div>

