<li id="micropost-empty">
  <span class="content" style="color: gray;">
    <%=
      begin
        msg
      rescue NameError
        "... this user does not have any microposts yet ..."
      end
    %>
  </span>
</li>