<footer class="footer">
    <small>
        © 2020 Alex Martens. All rights reserved.
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><a href="https://github.com/alexsmartens">Contact </a>
            </li>
        </ul>
    </nav>
</footer>
